body, section{
	margin: 0;
	font-family: 'Cabin', sans-serif;
	background-color: rgba(50, 50, 50, 0.95);
	color: #929FAD;
}
/*SLIDESHOW CONTAINER*/
#slideshowContainer{
	position: relative;
	width: calc(100% - 8px);
	border: 4px yellow solid;
}
/*OVERLAY ON THE SLIDER*/
#overlay{
	background-color: rgba(146, 159, 173, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
/*HIDE THE IMAGE BY DEFAULT*/
.slides{
	display: none;
}
/*STEPS NUMBER TEXT*/
.slides strong{
	color: yellow;
	font-weight: normal;
}
/*LINKS IN THE SLIDER*/
.slides a{
	color: #929FAD;
}
/*PREVIOUS AND NEXT BUTTONS*/
#previous, #next{
	cursor: pointer;
	position: absolute;
	width: 0;
	padding: 16px;
	color: rgba(50, 50, 50, 1);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	/*VERTICAL CENTER ALIGN*/
	top: 50%;
	transform: translate(0 50%);
}
/*POSITION THE PREVIOUS BUTTON*/
#previous{
	left: 0;
	padding-left: 0;
	padding-right: 32px;
}
/*POSITION THE NEXT BUTTON TO THE RIGHT*/
#next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
/*ON HOVER : BLACK BACKGROUND COLOR WITH TRANSPARENCY*/
#previous:hover, #next:hover{
	background-color: rgba(146, 159, 173, 0.95);
}
/*CAPTION TEXT*/
.text{
	color: black;
	font-size: 30px;
	position: absolute;
	top: 50%;
	transform: translate(0, 50%);
	width: 100%;
	text-align: center;
}
/*NUMBER TEXT*/
.numberText{
	position: absolute;
	top: 5vh;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: rgba(50, 50, 50, 0.95);
	color: #929FAD;
	text-shadow: 2px 2px black;
	font-size: 25px;
	padding: 8px 12px;
	text-align: center;
}
/*DOTS CONTAINER*/
#dotsContainer{
	position: absolute;
	bottom: 2%;
	/*HORIZONTAL CENTER ALIGN*/
	left: 50%;
	transform: translate(-50%, 0);
}
/*POSITION DOTS/CIRCLES*/
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: #929FAD;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover{
	background-color: rgba(50, 50, 50, 0.95);;
}
/*FADING ANIMATION*/
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;

	@-webkit-keyframes{
		from{
			opacity: .4
		}to{
			opacity: 1
		}
	}

	@keyframes fade{
		from{
			opacity: .4
		}to{
			opacity: 1
		}
	}
}
/*GOOGLE MAP*/
#mapContainer{
	position: absolute;
	height: 85vh;
	width: 100%;
}
/*POSTION & STYLE OF THE STATION STATUS CONTAINER*/
#stationStatus{
	position: relative;
	float: right;
	height: 40vh;
	width: 25vw;
	background-color: rgba(50, 50, 50, 0.95);
	overflow-y: auto;
	overflow-x: hidden;
}
/*POSTITION OF H3 OF STATION STATUS*/
#stationStatus h3{
	text-align: center;
}
/*STATIONSTATUS BUTTON*/
#stationStatus button{
	font-family: 'Cabin', sans-serif;
	background-color:  #929FAD;
	color: #323232;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	border : none;
	cursor: pointer;
}
/*POSITIONNING THE CANVAS*/
canvas{
	position: absolute;
	top: 100vh;
}
/*CANVAS BUTTONS VERTICAL POSITIONNING*/
#canvasContainer button{
	font-family: 'Cabin', sans-serif;
	background-color:  #929FAD;
	color: #323232;
	position: absolute;
	top: 180vh;
	display: inline-block;
	display: none;
	border : none;
	cursor: pointer;
}
/*CANVAS BUTTON HORIZONTAL POSTIONNING AND RESIZING*/
#confirmation{
	left: 45vw;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	margin-left: 10%;
}
#cancel{
	left: 40vw;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}
/*POSITIONNING AND RESIZING THE FOOTER*/
footer{
	position: absolute;
	top: 185vh;
	height: 13vh;
	padding-top: 2vh;
	left: 50%;
	transform: translate(-50%, 0);
}