body, section{
	margin: 0;
}
/*SLIDESHOW CONTAINER*/
#slideshowContainer{
	position: relative;
	width: 100%;
	/*HEIGHT EQUAL THE HEIGHT OF CLIENT BROWSER*/
	height: 100vh;
}
/*HIDE THE IMAGE BY DEFAULT*/
.slides{
	display: none;
}
/*PREVIOUS AND NEXT BUTTONS*/
#previous, #next{
	cursor: pointer;
	position: absolute;
	width: 0;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	/*VERTICAL CENTER ALIGN*/
	top: 50%;
	transform: translate(0 50%);
}
/*POSITION THE PREVIOUS BUTTON*/
#previous{
	left: 0;
	padding-left: 0;
	padding-right: 32px;
}
/*POSITION THE NEXT BUTTON TO THE RIGHT*/
#next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
/*ON HOVER : BLACK BACKGROUND COLOR WITH TRANSPARENCY*/
#previous:hover, #next:hover{
	background-color: rgba(0,0,0,0.8);
}
/*CAPTION TEXT*/
.text{
	color: black;
	font-size: 30px;
	position: absolute;
	top: 50%;
	transform: translate(0, 50%);
	width: 100%;
	text-align: center;
}
/*NUMBER TEXT*/
.numberText{
	color: black;
	font-size: 16px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/*DOTS CONTAINER*/
#dotsContainer{
	position: absolute;
	bottom: 2%;
	/*HORIZONTAL CENTER ALIGN*/
	left: 50%;
	transform: translate(-50%, 0);
}
/*POSITION DOTS/CIRCLES*/
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: white;
	border-radius: 50%;
	border: 1px black solid;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover{
	background-color: black;
}
/*FADING ANIMATION*/
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;

	@-webkit-keyframes{
		from{
			opacity: .4
		}to{
			opacity: 1
		}
	}

	@keyframes fade{
		from{
			opacity: .4
		}to{
			opacity: 1
		}
	}
}
/*GOOGLE MAP*/
#mapContainer{
	position: absolute;
	height: 90vh;
	width: 100%;
}
/*POSTION & STYLE OF THE STATION STATUS CONTAINER*/
#stationStatus{
	position: relative;
	float: right;
	height: 40vh;
	width: 25vw;
	background-color: rgba(125, 233, 18, 0.9);
	overflow-y: auto;
	overflow-x: hidden;
}
/*POSTITION OF H3 OF STATION STATUS*/
#stationStatus h3{
	text-align: center;
}
/*POSITIONNING AND RESIZING THE FOOTER*/
footer{
	margin-top: 90vh;
	height: 10vh;
}
#canvasContainer{
	position: relative;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
}